{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": "3.0.0"
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver", {
        "root": ["./client"],
        "alias": {
          "@App": "./client/app/Ui/App"
        }
      }
    ]
  ]
}