{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./client"],
        "alias": {
          "@App": "./client/src/app"
        }
      }
    ]
  ]
}